*/**/__pycache__
*/**.DS_Store
*.pyc
~$*
./pytest_cache
.testmondata
.coverage
.testmondata
.DS_Store
build.json
logs/*
*/**/~.*
test-reports/*

test-reports/coverage.xml
test-reports/tests.xml
test-reports/html

/node_modules
package-lock.json
package.json
/src
/doc
/dumps
/build/prod/dumps
/volumes
/tmp
/simple/static/*
.testmondata*
src/*
records/*.wav*
media/*
calls.log
/tmp/profiler/
.idea
.venv
